.myButton {
	width: 100%;
	padding: calc(var(--sizeindex) * 0.6);
	margin: calc(var(--sizeindex) * 0.8) 0;
	border: 1px solid #220930;
	border-radius: calc(var(--sizeindex) * 0.5);
	color: #fff;
	background-color: #220930;
	font-size: calc(var(--sizeindex) * 0.9);
	cursor: pointer;
	transition: all ease 0.1s;
}
.myButton:hover {
	border: 1px solid #451652;
	color: #fff;
	background-color: #451652;
	letter-spacing: 1px;
}
.myButton:active {
	border: 1px solid #e8e8e8;
	color: #999999;
	background-color: #e8e8e8;
}
